<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="row col-12 text-center">
            <h1 class=" text-white ">
                <a class="nav-link"
                href="{% url 'contact:index' %}">
                Agenda </a>
            </h1>
        </div>
        <div class="row col-12 justify-content-center text-center">
            <div class="col-6 offset-md-2">
                <ul class="nav">
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'contact:registerUser' %}" class="nav-link"> Register </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "contact:login" %}" class="nav-link"> Login </a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url "contact:create" %}" class="nav-link"> Create Contact </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "contact:userUpdate" %}" class="nav-link"> Profile </a>
                    </li>
                    {% endif %}
                    
                <ul>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <button class="btn btn-danger">
                            <a href="{% url "contact:logout" %}" class="nav-link"> Logout </a>
                        </button>
                    </li>
                    {% endif %}
            </div>
        </div>
        
        <div class="row col-12 justify-content-center text-center">
            <div class="col-6 ">
                <form class="form-group" action="{% url 'contact:search' %}" method="get">  
                    {% comment %} o get vai atrelar o id a URL {% endcomment %}
                    <input class="form-control" type="text" placeholder="Search" id="search" name="q"  value="{{search_value}}">
                </form>
            </div>
        </div>
    </div>
</nav>
