
.paragrafo {
    text-indent: 5%;
    text-align: justify;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra do texto */
    background-color: rgba(0, 0, 0, 0.5); /* Plano de fundo opaco para o texto */

    
}