{% extends "global/base.html" %}
{% block content %}
<form action="{{form_action}}"  method="POST" enctype="multipart/form-data" class="form-group p-4" >
    {% csrf_token %}
        <h2>Contact</h2>
        <br>
        {% for field in form %}
        
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {{field.errors}}
        {% if form.non_field_errors %}
        <div class="errorList">
            {{form.non_field_errors }}
        </div>
        {% endif %}
        
       {% if field.name == 'picture' and field.value.url %}
            <img src="{{field.value.url}}" alt="">
        {% endif %} 

        {% endfor %}

        {% comment %} <label for="id_description">Description</label> {% endcomment %}
        {% comment %} <textarea name="description" id="id_description" class="form-control" rows="5"></textarea> {% endcomment %}
        
{% comment %}         
        <table class="d-flex justify-content-center">
            {{form}}
        </table> {% endcomment %}
       
    <br>
    <button class="btn btn-dark form-control w-25" type="submit">Send</button>
</form>


{% endblock content %}