{% extends  "global/base.html" %}
{% load static %}
{% block block %}
    {% comment %} <h2>Escolha um</h2>
        <br> {% endcomment %}
        <style>

        </style>
        <div class="paragrafo text-white h-100 w-100 d-flex align-items-center
         justify-content-center border border-dark"
        style="margin:0; padding:0; background: url('{% static 'global/img/yugioh.jpg' %}') 
 ; background-size: contain; opacity: 1;" >
            {% include "global/partials/_user_form.html" %}
        </div>

{% endblock block  %}